*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;

}

.contenedor{
    width: 920px;
    height: 280px;
    margin: 0 auto;

    position:relative;
    background-color: rgb(33, 33, 63);

    overflow: hidden;
}
.dino {
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;

    background: url(./assets/playerr.png) repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x: 0px;

}
.dino-corriendo {
    animation: animarDino 0.25s steps(2) infinite;
}
.dino-estrellado {
    background-position-x: -252px;
}
.suelo{
    width: 200%;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(./assets/suelo.png);
}
.cactus{
    width: 46px;
    height: 96px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(./assets/cactus1.png) no-repeat;
}
.cactus2{
    width: 98px;
    height: 66px;

    background: url(./assets/cactus2.png) no-repeat;
}
.nube{
    width: 92px;
    height: 26px;

    position: absolute;
    z-index: 0;

    background: url(./assets/nube.png) no-repeat;
    background-size: 92px 26px;
}
.score{
    width: 100px;
    height: 30px;

    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;
    
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.game-over{
    display: none;

    position: absolute;
    width: 100%;


    text-align: center;
    color: #7e928b;
    font-size: 30px;
    font-family: Verdana;
    font-weight: 700;
}
.refresh-button{
    z-index: 1000;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    background-color: rgb(33, 33, 63);
    color: #fff;
    padding: 15px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes animarDino {
    from{
        background-position-x: -84px;
    }
    to{
        background-position-x: -252px;
    }
}